/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #C6C5D9;
}

header{
    width: 50rem;
    margin: 0 auto;
}

.card{
    padding: 0;
    width: calc((100% / 3) - 1.5rem);
    background-color: #0D0D0D;
    color: #EBEBF2;
}

h5, h1{
    font-family: 'Delicious Handrawn', cursive, Arial, Helvetica, sans-serif;
}